.body {
	background-color: #F8F8F8;
}

body.body div.navigation {
  border-radius: 0;
  margin-bottom: 0;
}

body.body div.navigation img.logo {
  height: 50px;
  margin-right: 15px;
  margin-top: 1px;
}

body.body div.navigation div i.subtitle {
  color: white;
}

body.body div.mobileNavigation {
  margin: 0;
}

body.body div.mobileNavigation img.logo {
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
}

body.body div.tertiary.segment.pageTitle {
  color: #333333;
  background-color: #F1F1F1;
  text-align: center;
}

.main {
  margin-top: 10px;
  padding: 0 2em 2em;
}

@media (max-width: 800px) {
  body.body div.navigation {
    display: none;
  }
}

@media (min-width: 801px) {
  body.body div.mobileNavigation {
    display: none
  }
}
